<div>
    <div class="section">
        <div class="container">
            <div class="black-box" style="border-left: 20px solid #209fed; font-size: 23px; letter-spacing: 5px; line-height: 2.3rem">
                HOW IT WORKS?
            </div> <br>
            <div class="list-type5">
                <ol>
                    <li><a href="#">REGISTER AND CREATE AN ACCOUNT ON GRAABIT WEBSITE ENTER EMAIL ID, MOBILE NUMBER AND PASSWORD.</a></li>

                    <li><a href="#"> CLICK ON SIGNUP, ONCE YOU’RE LOGGED IN TO YOUR YOU CAN BUY BID PACKS AND REGISTER FOR DEALS.</a></li>

                    <li><a href="#">ALL UPCOMING DEALS ARE SHOWN ON HOME PAGE AND DEALS PAGE.</a></li>

                    <li><a href="#">GO TO BUY DEAL BIDS PACKS AND BUY AS MANY BID PACKS AS YOU WISH. </a></li>
                    
                    <li><a href="#">ONCE USER’S SELECTED THE PACK THEY CLICK ON PAY NOW USING ANY OF THE ONLINE PAYMENT METHODS LISTED ON WEBSITE.</a></li>
                    
                    <li><a href="#">THE BIDS AND TOTAL BALANCE WILL BE SHOWN IN THE USER’S MY ACCOUNT PAGE.</a></li>
                    
                    <li><a href="#">NEXT USERS GO TO UPCOMING DEALS PAGE AND THEN REGISTER FOR RESPECTIVE DEALS OF THEIR CHOICE USING MINIMUM REQUIRED BIDS FOR THE DEAL BEFORE THE DEAL AUCTION STARTS.</a></li>
                    
                    <li><a href="#">WHEN REQUIRED NUMBER OF USERS REGISTER FOR THE DEAL AUCTION, REGISTRATION CLOSES.
DEAL AUCTIONS START AT 8PM AND GO ON UNTIL 10 PM</a></li>
                    
                    <li><a href="#">USERS CLICK ON BID NOW AND START PLACING THEIR BIDS ON THE PRODUCT
EACH BID INCREASES THE PRICE BY SOME AMOUNT. </a></li>
                    
                    <li><a href="#">A MAXIMUM OF 10 SECONDS ARE AVAILABLE FOR A USER TO PLACE THEIR NEXT BID.</a></li>
                    
                    <li><a href="#">IF NO BIDS IS PLACED IN 10 SECONDS AUCTION ENDS AND LAST USER BID GRABS THE DEAL AT THAT PRICE.</a></li>
                    
                    <li><a href="#">OR IF 2 HOURS ENDS AUCTION ENDS AND USER WITH HIGHEST BID WINS AND GRABS THE DEAL.
WINNER GETS TO BUY THE PRODUCT AT WINNING BID PRICE.</a></li>
                    
                    <li><a href="#">EVERYONE ELSE WHO PARTICIPATED IN THE DEAL GETS THE PRODUCT AT DEAL PRICE. </a></li>
                </ol>

            </div>
        </div>

    </div>
</div>